<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<projects>
	<server id="1">
		<name>prova</name>
		<path>/home/hxs/Desktop/site_test/technofriend</path>
		<address>127.0.0.1</address>
		<port>8080</port>
		<pid/>
	</server>
<server id="2">
        <path>/fdfd</path>
        <address>129.0.0.0</address>
        <port>33</port>
        <name>provs</name>
        <pid/>
    </server>
<server id="3">
        <path>rrrrrr</path>
        <address>0.0.0.0</address>
        <port>44</port>
        <name>rrrr</name>
        <pid/>
    </server>
<server id="4">
        <path>hhh</path>
        <address>0.0.0.0</address>
        <port>77</port>
        <name>hhhh</name>
        <pid/>
    </server>
</projects>
